# Go
server/server
server/coverage.out
*.test
*.out

# Node / React
node_modules/
webapp/build/
webapp/coverage/
coverage/

# Sonar scanner working dir
.scannerwork/

# Docker
image.tar

# Misc
.env
.DS_Store
